@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-text{
    @apply text-3xl text-gradio-red;
    letter-spacing: 0.45em;
}

.top-nav-link{
    @apply px-2 font-extralight text-base;
    letter-spacing: 0.45em;
}

#navMenu.active{
    left: 0;
}

.bar{
    @apply w-7 border-2 border-gradio-red my-1 md:duration-300;
}

#burgerToggle.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

#burgerToggle.active .bar:nth-child(2){
    opacity: 0;
}

#burgerToggle.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.subtle-background{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 20rem;
    background-color: #fcf2f4;
}

.subtle-background::before{
    content: "";
    height: 55%;
    position: absolute;
    z-index: -1;
    top: -7rem;
    left: 0;
    right: 0;
    transform: skewY(-7deg);
    background-color: #fcf2f4;
}

.rotate-text{
    writing-mode: vertical-rl;
}

/* xl breakpoint */
@media screen and (max-width: 1260px){
    .rotate-text{
        writing-mode: horizontal-tb;
    }
}

.gradio-selection::selection{
    @apply bg-gradio-red;
    color: #fcf2f4;
}
