@tailwind base;
@tailwind components;
@tailwind utilities;

/* Logo  */

.logo-text{
    @apply text-3xl;
    letter-spacing: 0.45em;
}

.logo-red{
    @apply text-gradio-red;
}

.logo-white{
    @apply text-gradio-white;
}

/* Top navbar */

.top-nav-link{
    @apply px-2 font-extralight text-base;
    letter-spacing: 0.45em;
}

#navMenu.active{
    left: 0;
}

/* Responsive burger menu */

.bar{
    @apply w-7 border-2 border-gradio-red my-1 md:duration-300;
}

#burgerToggle.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

#burgerToggle.active .bar:nth-child(2){
    opacity: 0;
}

#burgerToggle.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

/* Background shape */

.subtle-background{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 20rem;
    @apply bg-gradio-white;
}

.subtle-background::before{
    content: "";
    height: 55%;
    position: absolute;
    z-index: -1;
    top: -7rem;
    left: 0;
    right: 0;
    transform: skewY(-7deg);
    @apply bg-gradio-white;
}

.subtle-background-inverted{
    height: 100%;
    max-height: 300px;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    @apply bg-gradio-white;
}

.subtle-background-inverted::after{
    content: "";
    height: 100%;
    max-height: 300px;
    position: absolute;
    z-index: -1;
    top: 10rem;
    left: 0;
    right: 0;
    transform: skewY(-7deg);
    @apply bg-gradio-white;
}

.rotate-text{
    writing-mode: vertical-rl;
}

/* xl breakpoint */
@media screen and (max-width: 1260px){
    .rotate-text{
        writing-mode: horizontal-tb;
    }
}

.gradio-selection::selection{
    @apply bg-gradio-red text-gradio-white;
}

.gradio-selection-inverted::selection{
    @apply bg-gradio-white text-gradio-red;
}

.faq-prefix{
    @apply text-gradio-red font-medium;
}